
li
{
	list-style:none;
}

.fa-close
{
	font-size: 21px;
    float: right;
    position: relative;
    margin-right: 9px;
	margin-top:9px;
	cursor:pointer;
}.fa-arrow-right
{
	font-size: 21px;
    float: right;
    position: relative;
    margin-right: -25px;
	cursor:pointer;
}
.sidenav 
{
	box-shadow:2px 3px 4px #f5f5f5;
	background-color: #fff;
    border: 3px solid rgb(238, 238, 238);
} 
.sidenav li 
{

    font-size: 16px;
    padding: 7px 7px 7px 10px;
    font-family: sans-serif;
    letter-spacing: 1px;
	margin-right:10px;
    text-align: justify;
    text-transform: capitalize;}
.sidenav li:hover 
{background-color:cadetblue;
border:1px solid #fff;
list-style:none;
}
.container
{
	padding:0px;
}
a
{
	color:#000;
}
.sidenav li:hover a
{
color:#fff;
text-decoration:none;
}
.header
{
	color:#fff;
}
.header ul
{
 margin-left:-18px;
 margin-top:15px;
 
}
.header ul li 
{
	
    padding: 0px 20px 0px 20px;
    font-size: 15px;
    font-family: sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-right: 1px solid;
}
 
.header ul li a
{
	color:#fff;
}
.header ul li a:hover
{
	color:#000;
	}
	
	.left
{
	text-align:right;
}
.pnl-body .left, .pnl-body .right
{
	font-size: 13px;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-family: cursive;
    line-height: 25px
}
.pnl-body
{
  border-left: 4px solid green;
}
.adminpic
{
	width: 650px;
    height: 271px;
}

.carousel-caption
{
	right:0px;
	left:0px;
	margin-bottom:180px;
}
.fa-arrow-left
{
position:fixed;
 right:83px;
 bottom: 28px;
 font-size: 20px;
}